<div class="banner_inner" style="background: url(/assets/img/3.jpg)no-repeat 0px -55px;">
   <div class="services-breadcrumb">
      <div class="inner_breadcrumb">

         <ul class="short">
            <li>
               <a href="/">Início</a>
               <i>|</i>
            </li>
            <li>Sobre nós</li>
         </ul>
      </div>
   </div>
</div>
		
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
   <div class="container-fluid">

      <div class="inner-sec-shop px-lg-4 px-3">
         <div class="about-content py-lg-5 py-3">
            <div class="row">

               <div class="col-lg-6 p-0">
                  <img src="http://pidistore.xyz/assets/img/1.jpg" alt="Goggles" class="img-fluid">
               </div>
               <div class="col-lg-6 about-info">
                  <h3 class="tittle-w3layouts text-left mb-lg-5 mb-3">Sobre Nós</h3>
                  <p class="my-xl-4 my-lg-3 my-md-4 my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                     dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                     book.
                  </p>

               </div>
            </div>
         </div>
         
         <!-- /grids -->
         <div class="bottom-sub-grid-content py-lg-5 py-3">
            
            <div class="row">
               
               <div class="col-lg-4 bottom-sub-grid text-center">
                  
                  <div class="bt-icon">

                     <span class="far fa-hand-paper"></span>
                  </div>

                  <h4 class="sub-tittle-w3layouts my-lg-4 my-3">
                     Satisfação Garantida
                  </h4>
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                  
               </div>

               <div class="col-lg-4 bottom-sub-grid text-center">
                  <div class="bt-icon">
                     <span class="fas fa-rocket"></span>
                  </div>

                  <h4 class="sub-tittle-w3layouts my-lg-4 my-3">Entrega rápida</h4>
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                  
               </div>

               <div class="col-lg-4 bottom-sub-grid text-center">
                  <div class="bt-icon">
                     <span class="far fa-sun"></span>
                  </div>

                  <h4 class="sub-tittle-w3layouts my-lg-4 my-3">Proteção Garantida</h4>
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                  
               </div>
               
            </div>
         
         </div>
         <!-- //grids -->
         <!-- /clients-sec -->
         <div class="testimonials p-lg-5 p-3 mt-4">
            <div class="row last-section">
               
               <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                  <div class="mail-grid-icon text-center">
                     <i class="fas fa-gift"></i>
                  </div>
                  <div class="mail-grid-text-info">
                     <h3>PRODUTO GENUÍNO</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </div>
               </div>
               
               <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                  <div class="mail-grid-icon text-center">
                     <i class="fas fa-shield-alt"></i>
                  </div>
                  <div class="mail-grid-text-info">
                     <h3>PRODUTOS SEGUROS</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </div>
               </div>
               
               <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                  <div class="mail-grid-icon text-center">
                     <i class="fas fa-dollar-sign"></i>
                  </div>
                  <div class="mail-grid-text-info">
                     <h3>Dinheiro na entrega</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </div>
               </div>
               
               <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                  <div class="mail-grid-icon text-center">
                     <i class="fas fa-truck"></i>
                  </div>
                  <div class="mail-grid-text-info">
                     <h3>Entrega Fácil</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </div>
               </div>
         
            </div>
         </div>
         <!-- //clients-sec -->

      </div>
   </div>
</section>