<!--footer -->
<footer class="py-lg-5 py-3">
   <div class="container-fluid px-lg-5 px-3">
      
      <div class="row footer-top-w3layouts">
      
         <div class="col-lg-3 footer-grid-w3ls">
            
            <div class="footer-title">
               <h3>Sobre nos</h3>
            </div>
            
            <div class="footer-text">
               <p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at
                  tellus. Nulla porttitor accumsana tincidunt.</p>
               <ul class="footer-social text-left mt-lg-4 mt-3">

                  <li class="mx-2">
                     <a href="#">
                        <span class="fab fa-facebook-f"></span>
                     </a>
                  </li>
                  <li class="mx-2">
                     <a href="#">
                        <span class="fab fa-twitter"></span>
                     </a>
                  </li>
                  <li class="mx-2">
                     <a href="#">
                        <span class="fab fa-google-plus-g"></span>
                     </a>
                  </li>
                  <li class="mx-2">
                     <a href="#">
                        <span class="fab fa-linkedin-in"></span>
                     </a>
                  </li>
                  <li class="mx-2">
                     <a href="#">
                        <span class="fas fa-rss"></span>
                     </a>
                  </li>
                  <li class="mx-2">
                     <a href="#">
                        <span class="fab fa-vk"></span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      
      
      </div>
      
      <div class="copyright-w3layouts mt-4">
         <p class="copy-right text-center ">&copy; 2020 Pidi Store. Todos os direitos reservados | Powered by
            <a > Midisoft </a>
         </p>
      </div>
   </div>
</footer>
<!-- //footer -->

<!-- FORMAT PRICE -->
<script>

   var prices = document.getElementsByClassName("format-price")
   
   for (let index = 0; index < prices.length; index++) {
      
      const textContent = parseFloat(prices[index].textContent);
      
      var formatPrice = textContent.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
      
      prices[index].innerText = formatPrice
   
   }
   
</script>
<!-- FORMAT PRICE -->


<!--jQuery-->
<script src="http://tibia.xyz/assets/js/jquery-2.2.3.min.js"></script>

<script src="http://tibia.xyz/assets/js/modernizr-2.6.2.min.js"></script>
<script src="http://tibia.xyz/assets/js/classie-search.js"></script>
<script src="http://tibia.xyz/assets/js/demo1-search.js"></script>
<!--//search jQuery-->
<!-- cart-js -->
<script src="http://tibia.xyz/assets/js/minicart.js"></script>
<script>
   googles.render();

   googles.cart.on('googles_checkout', function (evt) {
      var items, len, i;

      if (this.subtotal() > 0) {
         items = this.items();

         for (i = 0, len = items.length; i < len; i++) {}
      }
   });
</script>
<!-- //cart-js -->
<script>
   $(document).ready(function () {
      $(".button-log a").click(function () {
         $(".login-overlay").fadeToggle(200);
         $(this).toggleClass('btn-open').toggleClass('btn-close');
      });
   });
   $('.close1').on('click', function () {
      $(".login-overlay").fadeToggle(200);
      $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
      open = false;
   });


   $(document).ready(function () {
      $(".button-sig a").click(function () {
         $(".signup-overlay").fadeToggle(200);
         $(this).toggleClass('btn-open-sig').toggleClass('btn-clos-sig');
      });
   });
   $('.close2').on('click', function () {
      $(".signup-overlay").fadeToggle(200);
      $(".button-sig a").toggleClass('btn-open-sig').toggleClass('btn-close-sig');
      open = false;
   });
</script>
<!-- carousel -->
<!-- Count-down -->
<script src="http://tibia.xyz/assets/js/simplyCountdown.js"></script>
<link href="http://tibia.xyz/assets/css/simplyCountdown.css" rel='stylesheet' type='text/css' />
<script>
   var d = new Date();
   simplyCountdown('simply-countdown-custom', {
      year: d.getFullYear(),
      month: d.getMonth() + 2,
      day: 25
   });
</script>
<!--// Count-down -->
<script src="http://tibia.xyz/assets/js/owl.carousel.js"></script>
<script>
   $(document).ready(function () {
      $('.owl-carousel').owlCarousel({
         loop: true,
         margin: 10,
         responsiveClass: true,
         responsive: {
            0: {
               items: 1,
               nav: true
            },
            600: {
               items: 2,
               nav: false
            },
            900: {
               items: 3,
               nav: false
            },
            1000: {
               items: 4,
               nav: true,
               loop: false,
               margin: 20
            }
         }
      })
   })
</script>

<!-- //end-smooth-scrolling -->


<!-- dropdown nav -->
<script>
   $(document).ready(function () {
      $(".dropdown").hover(
         function () {
            $('.dropdown-menu', this).stop(true, true).slideDown("fast");
            $(this).toggleClass('open');
         },
         function () {
            $('.dropdown-menu', this).stop(true, true).slideUp("fast");
            $(this).toggleClass('open');
         }
      );
   });
</script>
<!-- //dropdown nav -->
<script src="http://tibia.xyz/assets/js/move-top.js"></script>
 <script src="http://tibia.xyz/assets/js/easing.js"></script>
 <script>
     jQuery(document).ready(function($) {
         $(".scroll").click(function(event) {
             event.preventDefault();
             $('html,body').animate({
                 scrollTop: $(this.hash).offset().top
             }, 900);
         });
     });
 </script>
 <script>
     $(document).ready(function() {
         /*
                           var defaults = {
                                containerID: 'toTop', // fading element id
                              containerHoverID: 'toTopHover', // fading element hover id
                              scrollSpeed: 1200,
                              easingType: 'linear' 
                            };
                           */

         $().UItoTop({
             easingType: 'easeOutQuart'
         });

     });
 </script>
 <!--// end-smoth-scrolling -->

<script src="http://tibia.xyz/assets/js/bootstrap.js"></script>
<!-- js file -->

<script>

   $(".black-alert").animate({"top":"0","transition":"300ms"}).delay(5000).animate({"transition":".5s","top":"-500px"});

</script>
</body>

</html>