<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Pidi Store</title>

   <link rel="stylesheet" href="http://tibia.xyz/assets/css/signin.css">
   
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
   
   {if="$msgError != ''"}
   <div class="black-alert">
      
      <div class="black-alert-text">
         
         <i class="material-icons material-error">error</i>
         <p>{$msgError}</p>

      </div>

   </div>
   {/if}

   {if="$msgSuccess != ''"}
   <div class="black-alert">
      
      <div class="black-alert-text">
         
         <i class="material-icons material-success">check_circle</i>
         <p>{$msgSuccess}</p>

      </div>

   </div>
   {/if}

   <div id="warpper">

      <div class="box">

         <div class="box-image">

            <img src="http://tibia.xyz/assets/img/tibia.png" alt="">

         </div>

         <div class="box-header">

            <div class="title">
               Cadastro
            </div>

         </div>

         <div class="box-body">

            <form action="/signup" method="POST">

               <div class="form-group">
                            
                  <label for="username">Nome</label>
                  
                  <input type="text" name="username" id="username" class="style-input input" placeholder="Digite seu nome" maxlength="100" autofocus="" required="">
                  
                  <span class="underline"></span>
                  
                  <i class="material-icons icon">account_circle</i>
              
               </div>

               <div class="form-group">
                            
                  <label for="email">Email</label>
                  
                  <input type="email" name="email" id="email" class="style-input input" placeholder="Digite seu email" maxlength="100" autofocus="" required="">
                  
                  <span class="underline"></span>
                  
                  <i class="material-icons icon">mail</i>
              
               </div>

               <div class="form-group">
                            
                  <label for="password">Senha</label>
                  
                  <input type="password" name="password" id="password" class="style-input input" placeholder="Digite sua senha" maxlength="20" required="">
                  
                  <span class="underline"></span>
                  
                  <i class="material-icons icon">vpn_key</i>
              
               </div>

               <div class="form-group">
                            
                  <label for="confirm-password">Confirmar senha</label>
                  
                  <input type="password" name="confirm-password" id="confirm-password" class="style-input input" placeholder="Confirme sua senha" maxlength="20" required="">
                  
                  <span class="underline"></span>
                  
                  <i class="material-icons icon">vpn_key</i>
              
               </div>

               <button type="submit" class="default-btn">
                  confirmar
               </button>

            </form>

         </div>

         <div class="box-footer">

            <a href="/">Início</a>

            <a href="/signin">Login</a>

         </div>

      </div>

   </div>   

   <script src="http://tibia.xyz/assets/js/jquery-2.2.3.min.js"></script>

   <script>

      $(".black-alert").animate({"top":"0","transition":"300ms"}).delay(5000).animate({"transition":".5s","top":"-500px"});
   
   </script>

</body>
</html>